<h1>マイページ</h1>
<div class="row">
<div class="col-10">


<b>登録情報</b>  <%= link_to "編集する",  edit_customer_path(@user), class: "btn btn-success mb-4" %><br>

<table class="table .table-striped-columns  bg-light">
    <tbody>
        <tr>
            <th width="20%">氏名</th>
            <td><%= @user.last_name %> <%= @user.first_name %></td>
        </tr>
        <tr>
            <th>カナ</th>
            <td><%= @user.last_name_kana %> <%= @user.first_name_kana %></td>
        </tr>
        <tr>
            <th>郵便番号</th>
            <td><%= @user.postal_code %></td>
        </tr>
        <tr>
            <th>住所</th>
            <td><%= @user.address %></td>
        </tr>
        <tr>
            <th>電話番号</th>
            <td><%= @user.telephone_number %></td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
        </tr>
    </tbody>
</table>



<strong>配送先</strong> <%= link_to " 一覧を見る",  addresses_path, class: "btn btn-primary mb-4" %><br>

<strong>注文履歴</strong>  <%= link_to " 一覧を見る", orders_path, class: "btn btn-primary mb-4" %>
</div>
</div>
<%= link_to "Log out", destroy_customer_session_path, method: :delete %>