<div class="container">
  <div class="row">
    <div class="col-sm-3 px-sm-0 offset-sm-1">
      <h2>商品新規登録</h2>
    </div>

    <div class="col-md-6 offset-md-3 ">
      <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
        <table class="table">
          <tr>
            <th style="border:none;"><%= f.label :商品画像 %></th>
            <th style="border:none;"><%= f.file_field :image, accept: "image/*" %></th>
          </tr>
          <tr>
            <th style="border:none;"><%= f.label :商品名 %></th>
            <td style="border:none;"><%= f.text_field :name, placeholder: "商品名", size: "30x20" %></td>
          </tr>
          <tr>
            <th style="border:none;"><%= f.label :商品説明 %></th>
            <td style="border:none;"><%= f.text_area :introduction, size: "30x5", placeholder: "ここに説明文を記述します" %></td>
          </tr>
          <tr>
            <th style="border:none;"><%= f.label :ジャンル %></th>
            <td style="border:none;"><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), class: "30x20" %></td>
          </tr>
          <tr>
            <th style="border:none;"><%= f.label :税抜価格 %></th>
            <td style="border:none;"><%= f.text_field :price, placeholder: "1000", size: "30x20" %> 円</td>
          </tr>
          <tr>
            <th style="border:none;"><%= f.label :販売ステータス %></th>
            <td style="border:none;">
              <%= f.radio_button :is_active, true %>
              <%= f.label :is_active, "販売中" %>
              <%= f.radio_button :is_active, false %>
              <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %>
            </td>
          </tr>
        </table>
        <div class="col d-flex justify-content-center">
          <%= f.submit "新規登録", class: "btn btn-success btn-lg mx-auto" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

