<div>
  <div>
    <p>
      ようこそ、ながのCakeへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </p>
  </div>

  <div>
    <h2>新着商品</h2>
    <div>
      <% @items.first(4).each do |item| %>
        <div>
          <div>
            <%= link_to item_path(item.id) do %>
              <%=image_tag item.get_image(200,400) %>
            <% end %>
          </div>
          <div>
            <p><%= item.name %></p>
            <% if item.is_active == true %>
              <p><%= item.price %></p>
            <% else %>
              <p>販売停止中</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div><%= link_to "全ての商品を見る>", items_path %></div>
  </div>
</div>
