<h5>注文情報入力</h5>



<h5>支払方法</h5>
<%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
<%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>

<%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
<%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>

<h5>お届け先</h5>
<%= f.radio_button :select_address, "0" %>
<%= f.label :select_address_0, "ご自身の住所" %>
〒<%= current_customer.postal_code + ' ' + current_customer.address + ' ' + current_customer.full_name %>

<%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :name) %>

<%= f.radio_button :select_address, "2" %>
<%= f.label :select_address_2, "新しいお届け先" %>

<label for="inputPostalCode">郵便番号(ハイフンなし)</label>
<%= f.text_field :postal_code, placeholder:'0000000', id:"inputPostalCode", class:"form-control" %>

<label for="inputAddress">住所</label>
<%= f.text_field :address, placeholder:'東京都渋谷区代々木神園町0-0', id:"inputAddress", class:"form-control" %>

<label for="inputName">宛名</label>
<%= f.text_field :name, placeholder:'令和道子', id:"inputName", class:"form-control" %>

<%= f.submit "確認画面へ進む" %>