<div>
  <div>
    <div>
      <h2>商品一覧(全<%= @items.count %>件)</h2>
  </div>

  <div>
    <% @item.each do |item| %>
      <div>
        <div>
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_image(400,200) %>
          <% end %>
          <div>
            <p><%= item.name %></p>
            <% if item.is_active == true %>
              <p>¥ <%= item.price.to_s(:delimited) %></p>
            <% else %>
              <p>販売停止中</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <%= paginate @item, class: "text-center" %>
  </div>
</div>